body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

.mensagem {
    font-size: 14px;
    margin: 0;
}



#plot {
    width: 100%;
}

h1 {
    text-align: center;
}

#container-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 45%; */
    /* border-left: 2px solid black; */
}

#div-funcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

#funcao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    min-height: 12em;
    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

#metodo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    min-height: 12em;
    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

#falsa-posicao {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secante {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input,
button {
    margin: 10px 0;
    padding: 8px;
    width: 90%;
    @media screen and (min-width: 768px) {
        width: 80%;
    }
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        width: 60%;
    }
}

h2 {
    text-align: center;
    margin-top: 0;
}

.mensagem-valores {
    color: black;
}

.sucesso {
    color: #4dd854;
    font-size: 14px;
    margin: 0;
}

.falha {
    color: #d84d4d;
    font-size: 14px;
    margin: 0;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  overflow: auto;
  width: 100%;
  /* max-width: 400px; */
  /* height: 240px; */
  display: block;
  margin: 0 auto;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: center;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

@media screen and (max-width: 768px) {
    p {
        width: 90%;
        margin: 10px auto;
    }
    table {
        width: 90%;
    }
}